*{
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue", sans-serif;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url(../imagens/fundo.png); /* Caminho do arquivo */
    background-repeat: no-repeat;                     /* Impede que a imagem se repita */
    background-size: cover;                           /* Redimensiona para cobrir todo o espaço */
    background-position: center;                      /* Centraliza a imagem no elemento */
    background-attachment: fixed; 
}
#titulo{
    font-size: 100px;
    color: red;
}
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-image: url(../imagens/fundo.png); /* Caminho do arquivo */
    background-repeat: no-repeat;                     /* Impede que a imagem se repita */
    background-size: cover;                           /* Redimensiona para cobrir todo o espaço */
    background-position: center;                      /* Centraliza a imagem no elemento */
    background-attachment: fixed; 
}
.home{
    position: fixed;
    top: 0;
    margin: 50px;
    font-size: 30px;
    color: white;
    width: 600px;
    height: 80px;
    background-color: black;
    border-radius: 15px;
    text-align: center;
    opacity: 0.9;
}
.card{
    margin: 50px;
    background-color: black;
    color: red;
    width: 400px;
    height: 600px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 4px 4px 12px #aaaa;
    opacity: 0.9;
}
.card>h1 {
    color: white;
    font-size: 40px;
    padding-top: 15px;
}
.card>p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    padding: 20px 20px;
}
.card>img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.button{
    font-size: 20px;
    padding: 15px 45px;
    border: none;
    background-color: red;
    color: white;
    border-radius: 10px;
    font-weight: 600;
    margin: 20px;
    letter-spacing: 5px;
}
.bntLogin{
    font-family: Arial, Helvetica, sans-serif;
}
#bntsair{
    position: fixed;
    top: 0;
    right: 0;
    margin: 50px;
}